.queueItem {
  text-align: center;
  width: 150px;
  height: 100px;
  color: #99EDCC;
  /* border-radius: 50%; */
}

.dragging {
  background-color: #E36588;
  transition: ease 5s;
}

.notDragging {
  background-color: orange;
  transition: ease 5s;
}

.queueItem img {
  /* background: red; */
}