.queue {
  width: 150px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D3C4D1;
  transition: ease-in 0.5s;
}

.draggingOver {
  background-color: #81F4E1;
  transition: ease-in 0.5s;
}

