.queueItem {
  text-align: center;
  width: 120px;
  /* height: 100px; */
  border: 2px solid black;
}

.dragging {
  background-color: #FFFFFF;
}

.notDragging {
  background-color: #56CBF9;
}

.queueItem img {
}